html {
  scroll-behavior: smooth;
}

/* Set the page to dark mode */
body {
  font-family: "Helvetica", sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.m-account {
  text-align: center;
}

/* Align the nav links and logo horizontally */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f1f1f;
}
.fees-title-text {
  padding-inline: 3rem;
  text-align: center;
  font-weight: 500;
  color: #f0f0f0;
  margin: 0;
}
.top-slogan {
  padding-top: 4.5rem;
  padding-inline: 2rem;
  text-align: center;
  font-size: 26px;
  font-weight: 450;
  color: #f0f0f0;
  margin: 0;
  padding-bottom: 6.5rem;
}
.mid-text {
  padding-top: 0.2rem;
  padding-inline: 5rem;
  text-align: center;
  font-weight: 300;
  color: #f0f0f0;
  margin: 0;
  padding-bottom: 0.2rem;
}

.im-body {
  text-align: right;
  padding-inline: 1rem;
}
section {
  padding-block: 5rem;
  padding-inline: 1rem;
  margin: 0;
}

.section-break {
  padding-block: 0.5rem;
}

.section-title {
  font-size: 1.75rem;
  padding-inline: 1rem;
}

.section-title-im {
  font-size: 1.75rem;
  padding-inline: 1rem;
  text-align: right;
}
.fees-wrapper,
.inventory-wrapper {
  margin-inline: auto;
  padding-inline: 1rem; /* Change padding-inline from 1rem to 0 */
  justify-content: center;
  display: inline-block;
  vertical-align: middle;
  width: calc(50% - 20px);
}

.fees-image,
.inventory-image {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  width: 100%; /* adjust the width as needed */
  max-width: 200px; /* adjust the max-width as needed */
  margin: 0 20px; /* adjust the margin as needed */
}
.diagonal {
  --skew-angle: -3deg;
  --background: linear-gradient(45deg, #0575e6, #00f260);
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 75px;
  height: auto;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #efefef;
  text-decoration: none;
  position: relative;
}

nav a:hover {
  color: #a0a0a0;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #a0a0a0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Set up the main content and footer */
main {
  padding: 20px;
}

.button-container {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
}

.button:hover {
  background-color: #01d9fa;
  transition: background-color 0.5s;
}

.wavy {
  /* mask created with 
  https://css-generators.com/wavy-shapes/ */

  background: linear-gradient(to right, #00f260, #0575e6);

  --mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(50.39px at 50% calc(100% - 68.75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(50.39px at 50% calc(100% + 43.75px), #0000 99%, #000 101%)
      50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.middle-image {
  width: 100%; /* adjust the width as needed */
  max-width: 300px; /* adjust the max-width as needed */
  margin: 0 20px; /* adjust the margin as needed */
}

footer {
  background-color: #1f1f1f;
  padding: 10px 20px;
  text-align: center;
}

.back-to-top {
  display: inline-block;
  padding: 5px 10px;
  background-color: #1f1f1f;
  color: #f0f0f0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
}

.back-to-top:hover {
  background-color: #f0f0f0;
  color: #1f1f1f;
  text-decoration: none;
}

@media (max-width: 768px) {
  .fees-wrapper,
  .inventory-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .fees-image,
  .inventory-image {
    display: block;
    margin: 0 auto 20px;
  }
}
